<a href="https://colab.research.google.com/github/sarthakc0806/EV_NLP/blob/main/FewShot_GPT3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pip install openai
import os
import openai
import pandas as pd
import json
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
openai.api_key = "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"

In [2]:
df = pd.read_csv("/content/training_data.csv")
predict = pd.DataFrame(columns = ["Actual", "Predicted"])
display(predict)

Empty DataFrame
Columns: [Actual, Predicted]
Index: []

Training Dataset

In [3]:
c = 0
m = 0  
with open("train.jsonl", "w") as outfile:
  for i in range(2000, 2100):
    if (df["Sentiment"][i] == "NEGATIVE"):
      txt = df["Review"][i]
      dictionary = {"text": txt, "label": "Negative"}
      json.dump(dictionary, outfile)
      outfile.write('\n')
      c+=1
    elif (df["Sentiment"][i] == "POSITIVE"):
      txt = df["Review"][i]
      dictionary = {"text": txt, "label": "Positive"}
      json.dump(dictionary, outfile)
      outfile.write('\n')
      m+=1
display(len(df), c, m)

8953

57

43

Testing Data

In [4]:
c = 0
m = 0  

with open("test.jsonl", "w") as outfile:
  for i in range(0, 1790):
    if (df["Sentiment"][i] == "NEGATIVE"):
      txt = df["Review"][i]
      dictionary = {"text": txt, "label": "Negative"}
      json.dump(dictionary, outfile)
      outfile.write('\n')
      c+=1
    elif (df["Sentiment"][i] == "POSITIVE"):
      txt = df["Review"][i]
      dictionary = {"text": txt, "label": "Positive"}
      json.dump(dictionary, outfile)
      outfile.write('\n')
      m+=1
display(len(df), c, m)

8953

879

911

Feeding training data to GPT3

In [5]:
openai.File.create(file=open("/content/train.jsonl"), purpose="classifications")

<File file id=file-3wc9doibiFoV4yvqF86cmPs5 at 0x7f37df5250b0> JSON: {
  "bytes": 11346,
  "created_at": 1645480339,
  "filename": "train.jsonl",
  "id": "file-3wc9doibiFoV4yvqF86cmPs5",
  "object": "file",
  "purpose": "classifications",
  "status": "uploaded",
  "status_details": null
}

Comparison Dataset

In [6]:
k=0
for i in range(0, 1790):
  if df["Sentiment"][i]=="NEGATIVE":
    predict.at[k, "Actual"] = "Negative"
    k+=1
  elif (df["Sentiment"][i] == "POSITIVE"):
    predict.at[k, "Actual"] = "Positive"
    k+=1

In [7]:
display(predict)

        Actual Predicted
0     Negative       NaN
1     Negative       NaN
2     Negative       NaN
3     Positive       NaN
4     Positive       NaN
...        ...       ...
1785  Negative       NaN
1786  Negative       NaN
1787  Negative       NaN
1788  Negative       NaN
1789  Positive       NaN

[1790 rows x 2 columns]

Validation

Saving Comaparison Results

In [ ]:
k=0
for i in range(0, 1790):
  try:
    response = openai.Classification.create(file='file-3wc9doibiFoV4yvqF86cmPs5', query=str(df['Review'][i]), labels=["Positive", "Negative"], search_model="ada", model="curie", max_examples=3)
    predict.at[k, "Predicted"] = response["label"]
    k+=1
  except:
    #response = openai.Classification.create(file="file-kVHKxf3D8TyyxbEfxIVlZtPM",query=str(df['Review'][i]),search_model="ada", model="curie", max_examples=3)
    predict.at[k, "Predicted"] = 'Unknown'
    k+=1

In [14]:
predict.to_csv("result_run2.csv", index = False)

Checking un-labeled queries

In [15]:
predict["Predicted"].isnull().sum()

1367

In [19]:
display(predict[predict["Predicted"]=='Unknown'])

Empty DataFrame
Columns: [Actual, Predicted]
Index: []

Different Prediction

In [20]:
display(predict[predict["Predicted"]!=predict["Actual"]])

        Actual Predicted
6     Negative  Positive
13    Positive  Negative
16    Positive  Negative
21    Positive  Negative
26    Positive  Negative
...        ...       ...
1785  Negative       NaN
1786  Negative       NaN
1787  Negative       NaN
1788  Negative       NaN
1789  Positive       NaN

[1505 rows x 2 columns]

Reseting prediction Database

In [ ]:
predict1 = predict[predict["Predicted"]!='Unknown']
predict1.reset_index(drop=True, inplace=True)
display(predict1)

Performance metrics Calculation

In [ ]:
accuracy = accuracy_score(predict1['Actual'],predict1['Predicted'])
precisionx = precision_score(predict1['Actual'],predict1['Predicted'], pos_label='Positive')
recall = recall_score(predict1['Actual'],predict1['Predicted'], pos_label='Positive')
f1= f1_score(predict1['Actual'],predict1['Predicted'], pos_label='Positive')

In [ ]:
display("Accuracy : %s"%accuracy)
display("Precision : %s"%precisionx)
display("Recall : %s"%recall)
display("F1 Score : %s"%f1)